@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --cor01: #265C4B;
    --cor02: #146551;
    --cor03: #007566;
    --cor04: #589A8D;
    --cor05: #8FC1B5;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    width: 100vw;
    height: 100vh;
}

header {
    background-color: var(--cor01);
    color: white;
    font-size: 2em;
    text-align: center;
    padding: 20px;
}

main {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

nav > section {
    margin-bottom: 15px;
    font-size: 2em;
}

nav > section > h1 {
    margin-bottom: 5px;
}

nav > form {
    border: 1px solid rgb(207, 204, 204);
    padding: 20px;
    font-size: 2em;
}

input {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid rgb(207, 204, 204);
}

button {
    border: none;
    background-color: var(--cor03);
    color: white;
    padding: 10px;
    margin-top: 10px;
    font-size: 0.5em;
    border-radius: 5px;
}

table {
    border-collapse: collapse;
    width: 475px;
    margin-top: 20px;
}

tr#cabeca {
    background-color: rgb(207, 204, 204);;
    border: none;
}

tr {
    border: 1px solid black;
}